# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserdatad
xcuserdata/
DerivedData/
build/
.idea/

# Swift Package Manager
/.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Derived Data
DerivedData/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Others
*.swp
*.lock

